/* src/pages/SellerMarketPage.module.css */
.imgIcon {
    position: absolute;
    top: 98px;
    left: 0px;
    width: 375px;
    height: 375px;
    overflow: hidden;
    object-fit: cover;
}
.div1 {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 93.5px);
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 184px;
   text-align: center;
}
.chevronLeftIcon {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 24px;
    height: 24px;
    overflow: hidden;
   cursor: pointer;
}
.parent {
    position: absolute;
    top: 44px;
    left: 0px;
    background-color: #fff;
    width: 375px;
    height: 54px;
    font-size: 18px;
   z-index: 10;
}
.child {
    position: absolute;
    top: 436px;
    left: 0px;
    border-radius: 40px 44px 0px 0px;
    background-color: #fff;
    width: 375px;
    height: 72px;
}
.div2 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
    font-weight: 600;
}
.button {
    position: absolute;
    top: 753px;
    left: 20px;
    border-radius: 16px;
    background-color: #e8f9f2;
    width: 335px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    box-sizing: border-box;
    text-align: left;
    color: #15c47e;
   cursor: pointer;
}
.profileChild {
    width: 108px;
    position: relative;
    border-radius: 96px;
    height: 108px;
    object-fit: cover;
}
.div3 {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
    color: #3b4149;
}
.div4 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 500;
}
.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    text-align: left;
}
.div5 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 500;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.profile {
    position: absolute;
    top: 456px;
    left: 48px;
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
    color: #6a7685;
   z-index: 5;
}
.img {
    width: 92px;
    position: relative;
    border-radius: 8px;
    background-color: #d9d9d9;
    height: 92px;
   object-fit: cover;
}
.kg {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 600;
}
.div7 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
    color: #191f28;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    font-size: 18px;
    color: #fe7564;
}
.div8 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
    font-weight: 500;
}
.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    font-size: 12px;
    color: #6a7685;
}
.info {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.card {
    width: 336px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
    box-sizing: border-box;
    gap: 8px;
}
.div10 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 600;
}
.list {
    position: absolute;
    top: 879px;
    left: calc(50% - 167.5px);
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
   color: #3b4149;
}
.div14 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 28px;
    font-weight: 600;
}
.div15 {
    position: relative;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 22px;
    color: #3b4149;
}
.orderListTitle {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
}
.infoListChild {
    width: 1px;
    position: relative;
    background-color: #e2e6e9;
    height: 16px;
}
.infoList {
    position: absolute;
    top: 682px;
    left: calc(50% - 167.5px);
    width: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 28px;
    box-sizing: border-box;
    gap: 0px;
    font-size: 20px;
    color: #15c47e;
   z-index: 5;
}
.div20 {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}
.tab {
    border-bottom: 3px solid #3b4149;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
   flex: 1;
}
.tab1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    color: #bac0c7;
   flex: 1;
}
.tabGroup {
    position: absolute;
    top: 817px;
    left: 0px;
    background-color: #fff;
    border-bottom: 2px solid #f0f1f3;
    box-sizing: border-box;
    width: 375px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
    gap: 16px;
    text-align: left;
}
.div {
    width: 375px;
   margin: 0 auto;
    position: relative;
    background-color: #fff;
    height: 1327px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #3b4149;
    font-family: Pretendard;

    .goBackButton {
        position: absolute;
        top: 110px; /* 헤더 아래로 위치 조정 */
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        padding: 8px 16px;
        background-color: #15c47e; /* FarmUs 메인 녹색 */
        color: white;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: none;
    }  
}